<fieldset>
    <legend>Change Password</legend>
        <input id="password" type="password" placeholder="new password" oninput="confirmPassword()">
        <br>
        <input id="confirmPassword" type="password" placeholder="confirm new password" oninput="confirmPassword()">
        <span id="passwordMatch" class="error">Passwords must match</span>
        <br>
        <button id="submitBtn" class="invisible" onclick="changePassword()">Change Password</button>
    
</fieldset>