<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ivoire English Pro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css">
  <link rel="stylesheet" href="responav/resnavsmall.css">
  <link rel="stylesheet" href="responav/resnavmedium.css">
  <link rel="stylesheet" href="responav/resnavlarge.css">
  <script src="responav/resnav.js"></script>
</head>

<body>
  <header>
    <img src="responav/Logo2r.jpg" alt="IvoireEnglishPro" width="80px" height="80px">
    <nav class="clearfix">
      <button onclick="menu();">&#9776;</button>
      <ul id="primaryNav" class="hide">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="signup">Sign up</a></li>
          <li><a href="signin">Sign in</a></li>
          <li><a href="lesson">Lessons</a></li>
          <li><a href="grades">Grades</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
      </ul>
    </nav>


  </header>
  <main>
    <div>
      <p><strong>"A journey of a thousand miles begins with a single step" </strong></p>
      <p><small>(Chinese: 千里之行，始於足下; pinyin: Qiānlǐ zhī xíng, shǐyú zú xià)</small></p>
      <p>Welcome to ELApp. This is our first batch of students and we are glad to have you on board. <br> We offer our
        warmest wishes for a successful and productive learning experience.</p>

      <p> For our first experience, we want to make sure you are all successful in this class. <br> To achieve that, we
        invite you take advantage of every opportunity offered to you.
        <br> You instructors are excited to get to know you and warmly welcome you.</p>

      <p>We designed this course with the idea of meeting your need to get a better job, a better opportunity. <br> We
        expect your full collaboration and hope you will mesure fully the advanture you have embacked on.</p>

      <p> Once again, welcome to EL App.</p>
      <p>
        Best wishes
      </p>
    </div>
    <hr>
    <a id="homeLink" href="signup.html"> Register Now</a>
    <hr>
  </main>
  <!--Footer-->
  <footer id="footer">
    &copy; 2019 &bull; Freddy Kouakou &bull; kou17001@byui.edu
  </footer>
</body>

</html>