<div>
  <img id="englishConnect" src="images/english_connect.jpg" >
  <p><strong>"A journey of a thousand miles begins with a single step" </strong></p>
  <p><small>(Chinese: 千里之行，始於足下; pinyin: Qiānlǐ zhī xíng, shǐyú zú xià)</small></p>
  <p>Welcome to Ivoire English Pro. This is our first batch of students and we are glad to have you on board. <br> We offer our
    warmest wishes for a successful and productive learning experience.</p>

  <p> For our first experience, we want to make sure you are all successful in this class. <br> To achieve that, we
    invite you to take advantage of every opportunity offered to you.
    <br> Your instructor is excited to get to know you and warmly welcome you.</p>

  <p>Ivoire English Pro is inspired by "Learn English Now" -- a powerful resource for English learners at the beginner level. We designed this course with the idea of meeting your need to get a better job, a better opportunity. <br> We
    expect your full collaboration and hope you will realize fully the adventure you have embarked on.</p>

  <p> Once again, welcome to Ivoire English Pro.</p>
  <p>
    Best wishes
  </p>
</div>
<hr>
