<%
  var videoLinks = ["", "", "", "", "", "", "", "", "", "", "", "", "", "https://www.youtube.com/watch?v=naqX9iYE0V0"];
%>

<h1>Lessons</h1>
<table id="lessonstable">
  <% for (let i = 1; i <= currentWeek; i++) { %>
  <tr>
    <td>Week <%=i %></td>
    <td><a href="pdf/week<%=i %>.pdf">Reading</a></td>
    <td><a href="<%=videoLinks[i - 1] %>">Video</a></td>
    <td><a href="quiz?qn=<%=i %>">Quiz</a></td>
  </tr>
  <% } %>
</table>