<h1>Quiz 11</h1>
<p>
    1.
    <select id="0" class="paragraph">
        <option></option>
        <option value="Were">Were</option>
        <option value="We're">We're</option>
    </select>
    looking for a dress.
</p>
<p>
    2. The dress is
    <select id="1" class="paragraph">
        <option></option>
        <option value="far">far</option>
        <option value="for">for</option>
    </select>
    <select id="2" class="paragraph">
        <option></option>
        <option value="mine">mine</option>
        <option value="my">my</option>
    </select>
    daughter.
</p>
<p>
    3. What type
    <select id="3" class="paragraph">
        <option></option>
        <option value="our">our</option>
        <option value="are">are</option>
        <option value="or">or</option>
    </select>
    you looking for?
</p>
<p>
    4.
    <select id="4" class="long">
        <option></option>
        <option value="Something">Something</option>
        <option value="Same thing">Same thing</option>
    </select>
    in size 6.
</p>
<p>
    5. They
    <select id="5" class="paragraph">
        <option></option>
        <option value="wood">wood</option>
        <option value="would">would</option>
    </select>
    be
    <select id="6" class="paragraph">
        <option></option>
        <option value="over">over</option>
        <option value="oven">oven</option>
    </select>
    here.
</p>
<p>
    6.
    <select id="7" class="paragraph">
        <option></option>
        <option value="Cold">Cold</option>
        <option value="Could">Could</option>
    </select>
    she try on this
    <select id="8" class="paragraph">
        <option></option>
        <option value="won">won</option>
        <option value="one">one</option>
    </select>
    ?
</p>
<p>
    7. The dressing room is over
    <select id="9" class="paragraph">
        <option></option>
        <option value="their">their</option>
        <option value="there">there</option>
    </select>
    .
</p>
<p>
    8.
    <select id="10" class="paragraph">
        <option></option>
        <option value="Well">Well</option>
        <option value="We'll">We'll</option>
    </select>
    be
    <select id="11" class="paragraph">
        <option></option>
        <option value="right">right</option>
        <option value="light">light</option>
    </select>
    back.
</p>
<p>
    9. We'll take
    <select id="12" class="paragraph">
        <option></option>
        <option value="these">these</option>
        <option value="this">this</option>
    </select>
    one.
</p>
<p>
    10.
    <select id="13" class="paragraph">
        <option></option>
        <option value="Well">Well</option>
        <option value="Will">Will</option>
    </select>
    that be
    <select id="14" class="paragraph">
        <option></option>
        <option value="crash">crash</option>
        <option value="cash">cash</option>
    </select>
    ?
</p>
