<h1>Quiz 4</h1>

<p>
1.
<select id="0" class="paragraph">
    <option></option>
    <option>God</option>
    <option>Good</option>
</select>
morning.
</p>

<p>
2. How
<select id="1" class="paragraph">
    <option></option>
    <option>are</option>
    <option>or</option>
</select>
you?
</p>

<p>
3. I'm
<select id="2" class="paragraph">
    <option></option>
    <option>find</option>
    <option>fine</option>
</select>
, and
<select id="3" class="paragraph">
    <option></option>
    <option>you</option>
    <option>your</option>
</select>
?
</p>

<p>
4.
<select id="4" class="paragraph">
    <option></option>
    <option>Grate</option>
    <option>Great</option>
</select>
!
<select id="5" class="paragraph">
    <option></option>
    <option>This</option>
    <option>These</option>
</select>
is my new friend.
</p>

<p>
5. I am pleased to
<select id="6" class="paragraph">
    <option></option>
    <option>meet</option>
    <option>meat</option>
</select>
you.
</p>

<p>
6. It is
<select id="7" class="paragraph">
    <option></option>
    <option>niece</option>
    <option>nice</option>
</select>
to meet
<select id="8" class="paragraph">
    <option></option>
    <option>your</option>
    <option>you</option>
</select>
, Sharon.
</p>
<button onclick="submitAnswers()" id="submitBtn">Submit</button>