<h1>Quiz 6</h1>
<p>
    1. What are
    <select id="0" class="paragraph">
        <option></option>
        <option value="you">you</option>
        <option value="your">your</option>
    </select>
    responsibilities?
</p>
<p>
    2. What do
    <select id="1" class="paragraph">
        <option></option>
        <option value="you">you</option>
        <option value="your">your</option>
    </select>
    mean?
</p>
<p>
    3. You
    <select id="2" class="paragraph">
        <option></option>
        <option value="now">now</option>
        <option value="know">know</option>
    </select>
    , things you
    <select id="3" class="paragraph">
        <option></option>
        <option value="have">have</option>
        <option value="half">half</option>
    </select>
    to do, your duties.
</p>
<p>
    4. Oh, you
    <select id="4" class="paragraph">
        <option></option>
        <option value="men">men</option>
        <option value="mean">mean</option>
    </select>
    my work
    <select id="5" class="paragraph">
        <option></option>
        <option value="an">an</option>
        <option value="and">and</option>
    </select>
    home responsibilities.
</p>
<p>
    5. Yes, that's
    <select id="6" class="paragraph">
        <option></option>
        <option value="right">right</option>
        <option value="write">write</option>
    </select>
    .
</p>
<p>
    6. I have to work every day. I have to help
    <select id="7" class="paragraph">
        <option></option>
        <option value="with">with</option>
        <option value="which">which</option>
    </select>
    the children. I also
    <select id="8" class="paragraph">
        <option></option>
        <option value="lick">lick</option>
        <option value="like">like</option>
    </select>
    to play sports, to do hobbies, and I
    <select id="9" class="paragraph">
        <option></option>
        <option value="hop">hop</option>
        <option value="hope">hope</option>
    </select>
    to learn English.
</p>
<p>
    7.
    <select id="10" class="paragraph">
        <option></option>
        <option value="So">So</option>
        <option value="Sew">Sew</option>
    </select>
    , some
    <select id="11" class="paragraph">
        <option></option>
        <option value="or">or</option>
        <option value="are">are</option>
    </select>
    responsibilities that you have to do, and others are activities
    <select id="12" class="paragraph">
        <option></option>
        <option value="that">that</option>
        <option value="those">those</option>
    </select>
    you like to do.
</p>
<p>
    8. Yes, I
    <select id="13" class="paragraph">
        <option></option>
        <option value="think">think</option>
        <option value="thing">thing</option>
    </select>
    responsibilities are things you have to do.
</p>

    