<h1>Quiz</h1>
<div>Select the correct words and click the Submit button.</div>
<p>1. Do you 
    <select class="paragraph" id="0">
        <option></option>
        <option value="now">now</option>
        <option value="know">know</option>
    </select>
what days we have our English classes?</p>
<p>2. Yes, they are
    <select class="paragraph" id="1">
        <option></option>
        <option value="on">on</option>
        <option value="an">an</option>
    </select>
Tuesday and Friday evenings.</p>
<p>3. What
    <select class="paragraph" id="2">
        <option></option>
        <option value="time">time</option>
        <option value="tame">tame</option>
    </select>
are they?</p>
<p>4. They start at 7:00 p.m. 
    <select class="paragraph" id="3">
        <option></option>
        <option value="an">an</option>
        <option value="and">and</option>
    </select>
end at 8:30 p.m.</p>
<p>5. What
    <select class="paragraph" id="4">
        <option></option>
        <option value="moth">moth</option>
        <option value="month">month</option>
    </select>
do they begin?</p>
<p>6. In January, next
    <select class="paragraph" id="5">
        <option></option>
        <option value="hear">hear</option>
        <option value="year">year</option>
    </select>
, January 3rd.</p>
<p>7. 
    <select class="paragraph" id="6">
        <option></option>
        <option value="Thank">Thank</option>
        <option value="Tank">Tank</option>
    </select>
you. Do you also know what time church services start on Sunday?</p>
<p>8. Yes, they start at 9:00 a.m. 
    <select class="paragraph" id="7">
        <option></option>
        <option value="every">every</option>
        <option value="ever">ever</option>
    </select>
week and last until 12:00 noon.</p>
