<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ivoire English Pro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/quiz.js"></script>
    <link rel="stylesheet" href="responav/resnavsmall.css">
    <link rel="stylesheet" href="responav/resnavmedium.css">
    <link rel="stylesheet" href="responav/resnavlarge.css">
    <script src="responav/resnav.js"></script>
  </head>
  
  <body>
    <%- include('header.ejs'); %>
    <main>
        <%- include('quiz' + quiz); %>
    </main>
    <button id='submitBtn' onclick="submitAnswers(<%=quiz %>);">Submit</button>
    <hr>
    <!--Footer-->
    <%- include('footer.ejs'); %>
</body>

</html>