<h1>Quiz 8</h1>
<p>
    1. We're looking
    <select id="0" class="paragraph">
        <option></option>
        <option value="for">for</option>
        <option value="far">far</option>
    </select>
    <select id="1" class="paragraph">
        <option></option>
        <option value="some">some</option>
        <option value="same">same</option>
    </select>
    shoes.
</p>
<p>
    2. 
     <select id="2" class="paragraph">
        <option></option>
        <option value="Far">Far</option>
        <option value="For">For</option>
    </select>
    <select id="3" class="paragraph">
        <option></option>
        <option value="you">you</option>
        <option value="your">your</option>
    </select>
    or for
</select>
<select id="4" class="paragraph">
    <option></option>
    <option value="you">you</option>
    <option value="your">your</option>
</select>
son?
</p>
3. For
<select id="5" class="paragraph">
   <option></option>
   <option value="my">my</option>
   <option value="mine">mine</option>
</select>
son.
</p>
4. 
<select id="6" class="paragraph">
   <option></option>
   <option value="That">That</option>
   <option value="What">What</option>
</select>
kind
<select id="7" class="paragraph">
   <option></option>
   <option value="do">do</option>
   <option value="does">does</option>
</select>
he
</select>
<select id="8" class="paragraph">
<option></option>
<option value="want">want</option>
<option value="won't">won't</option>
</select>
?
</p>
5. He wants blue 
<select id="9" class="paragraph">
   <option></option>
   <option value="chew">chews</option>
   <option value="chose">chose</option>
   <option value="shoes">shoes</option>
</select>
.
</p>
6. Do you  
<select id="10" class="paragraph">
   <option></option>
   <option value="no">no</option>
   <option value="now">now</option>
   <option value="know">know</option>
</select>
his size?
</p>
7. He has 
<select id="11" class="paragraph">
   <option></option>
   <option value="bag">bag</option>
   <option value="big">big</option>
   <option value="bug">bug</option>
</select>
feet!
</p>
8. How do  
<select id="12" class="paragraph">
   <option></option>
   <option value="this">this</option>
   <option value="these">these</option>
   <option value="the">the</option>
</select>
feel?
</p>
9. A little  
<select id="13" class="paragraph">
   <option></option>
   <option value="right">right</option>
   <option value="tight">tight</option>
</select>
.
</p>