<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ivoire English Pro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/quiz3.js"></script>
    <link rel="stylesheet" href="responav/resnavsmall.css">
    <link rel="stylesheet" href="responav/resnavmedium.css">
    <link rel="stylesheet" href="responav/resnavlarge.css">
    <script src="responav/resnav.js"></script>
  </head>
  
  <body>
    <header>
      <img src="responav/Logo2r.jpg" alt="IvoireEnglishPro" width="80px" height="80px">
      <nav class="clearfix">
        <button onclick="menu();">&#9776;</button>
        <ul id="primaryNav" class="hide">
          <li><a href="/">Home</a></li>
          <li><a href="signup">Sign up</a></li>
          <li><a href="signin">Sign in</a></li>
          <li><a href="lesson">Lessons</a></li>
          <li><a href="grades">Grades</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
  
  
    </header>
    <main>
        <h1>Quiz</h1>
        <div>Fill in the blanks and click the Submit button.</div>
        <p>1. Do you 
            <select class="paragraph">
                <option></option>
                <option>now</option>
                <option>know</option>
            </select>
        what days we have our English classes?</p>
        <p>2. Yes, they are
            <select class="paragraph">
                <option></option>
                <option>on</option>
                <option>an</option>
            </select>
        Tuesday and Friday evenings.</p>
        <p>3. What
            <select class="paragraph">
                <option></option>
                <option>time</option>
                <option>tame</option>
            </select>
        are they?</p>
        <p>4. They start at 7:00 p.m. 
            <select class="paragraph">
                <option></option>
                <option>an</option>
                <option>and</option>
            </select>
        end at 8:30 p.m.</p>
        <p>5. What
            <select class="paragraph">
                <option></option>
                <option>moth</option>
                <option>month</option>
            </select>
        do they begin?</p>
        <p>6. In January, next
            <select class="paragraph">
                <option></option>
                <option>hear</option>
                <option>year</option>
            </select>
        , January 3rd.</p>
        <p>7. 
            <select class="paragraph">
                <option></option>
                <option>Thank</option>
                <option>Tank</option>
            </select>
        you. Do you also know what time church services start on Sunday?</p>
        <p>8. Yes, they start at 9:00 a.m. 
            <select class="paragraph">
                <option></option>
                <option>every</option>
                <option>ever</option>
            </select>
        week and last until 12:00 noon.</p>
        <button onclick="submitAnswers()">Submit</button>
    </main>
    <hr>
    <!--Footer-->
    <footer id="footer">
        &copy; 2019 &bull; Freddy Kouakou &bull; kou17001@byui.edu
    </footer>
</body>

</html>