<%
    var questions = ["dinner", "large", "french fries", "use it up", "box", "lunch", "bread", "gallon", "milk", "grill"];
    var dropdown = ["big", "meal", "eat it", "carton", "noon meal", "potatoes", "4 quarts", "loaves", "cooking tool", "drink"];
%>
<h1>Quiz 13</h1>
<p>Select the answer that best matches each word and click the Submit button.</p>
<table>
<% for (let i = 0; i < questions.length; i++) { %>
<tr>
    <td><%=questions[i] %></td>
    <td>
    <select id="<%=i %>" class="long">
    <option></option>
    <% for (let j = 0; j < dropdown.length; j++) { %>
    <option value="<%=dropdown[j] %>"><%=dropdown[j] %></option>
    <% } %>
    </td>
</tr>
<% } %>
</table> 