<%
    var questions = ["is it?", "is his name?", "door is it?", "does it start?", "is he coming?", "is she?", "is Joseph?", "are you?", "do you need?"];
    var answers = ["It's down the hall.", "His name is Mr. Kimball.", "The first door.", "It starts right now.", "He's coming today.", "She's fine.", "Joseph is fine.", "We are here.", "I need a book."];
%>

<h1>Quiz 5</h1>
<p>Select the correct answers and click the Submit button.</p>
<table>
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>What is asked for</th>
    </tr>
<% for (let i = 0; i < 9; i++) { %>
    <tr>
    <td>
    <select id="<%=i %>" class="paragraph">
        <option></option>
        <option value="Who">Who</option>
        <option value="When">When</option>
        <option value="Where">Where</option>
        <option value="Which">Which</option>
        <option value="Why">Why</option>
        <option value="How">How</option>
        <option value="What">What</option>
    </select>
    <%=questions[i] %>
    </td>
    <td><%=answers[i] %></td>
    <td>
    <select id="<%=i + 9 %>" class="quiz5">
        <option></option>
        <option value="Person">Person</option>
        <option value="Time">Time</option>
        <option value="Place">Place</option>
        <option value="Choice">Choice</option>
        <option value="Reason">Reason</option>
        <option value="Explanation">Explanation</option>
        <option value="Process">Process</option>
        <option value="Condition">Condition</option>
        <option value="Item Description">Item Description</option>
    </select>
    </td>
    </tr>
<% } %>
</table>
