<h1>Quiz 10</h1>


<div>Write a correct pronoun + will contraction in the blank boxes.</div>
<h5>I’ll You’ll We’ll They’ll She’ll He’ll It’ll</h5>

<p>1 . <input id="0" class="paragraph"> visit his family soon.</p>

<p>2. <input id="1" class="paragraph"> speak English well in the future.</p>
<p>3.  <input id="2" class="paragraph"> be summer in a few months.</p>
<p>4. <input id="3" class="paragraph"> start the party at 7 p.m.</p> 
<p>5. <input id="4" class="paragraph"> go to the store after class.</p> 
<p>6. <input id="4" class="paragraph"> get a better job next year.</p> 
<p>7. <input id="4" class="paragraph">ride the bus to the libary.</p> 
<div id="submit"></div>