<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ivoire English Pro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/signup.js"></script>
    <link rel="stylesheet" href="responav/resnavsmall.css">
    <link rel="stylesheet" href="responav/resnavmedium.css">
    <link rel="stylesheet" href="responav/resnavlarge.css">
    <script src="responav/resnav.js"></script>
  </head>
  
  <body>
    <header>
      <img src="responav/Logo2r.jpg" alt="IvoireEnglishPro" width="80px" height="80px">
     
      <nav class="clearfix">
        <button onclick="menu();">&#9776;</button>
        <ul id="primaryNav" class="hide">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="signup">Sign up</a></li>
          <li><a href="signin">Sign in</a></li>
          <li><a href="lesson">Lessons</a></li>
          <li><a href="grades">Grades</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
  
  
    </header>
    <main>
        <fieldset>
            <legend>User Information</legend>
                <!-- Will be changed to POST soon -->
                <h5 id="signUpData" class="errMessage"></h5>
                <h5>First Name* <input id="firstName" required name="first_name" type="text"></h5>
                <h5>Last Name* <input id="lastName" required name="last_name" type="text"></h5>
                <h5>User Name* <input id="userName" required name="user_name" type="text"></h5>
                <h5>Phone Number* <input id="phoneNumber" required name="phone_number" type="tel"></h5>
                <h5>Password* <input id="passWord" required name="pass_word" type="password"></h5>
                <button id="submitBtn" onclick="signupButton()">Sign Up</button>
        </fieldset>
    </main>
<hr>
    <!--Footer-->
    <footer id="footer">
        &copy; 2019 &bull; Freddy Kouakou &bull; kou17001@byui.edu
    </footer>
</body>

</html>