<fieldset>
    <legend>Sign In</legend>
    <p id="serverData" class="errMessage"></p>
        <input id="inputUserName" type="text" name="username" placeholder="username">
        <br>
        <input id="inputPassWord" type="password" name="password" placeholder="password">
        <br>
        <button id="submitBtn" onclick="submitButton()">Sign In</button>
    
</fieldset>