body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

h1{
    color:green;
}

.error {
    color: red;
}

.invisible {
    display: none;
}

.active {
    background-color: green;
}

#englishConnect {
    width: 100%;
}

#signin, #signout {
    float: right;
    border-left: 1px solid rgba(0,0,0,0.3);
}

#welcome {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 50px;
    padding: 15px;
}

#dotsButton {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

#dotsButton a {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
}

#dotsButton a:hover {
    color: white;
}

#dotsMenu {
    position: fixed;
    top: 40px;
    right: 0px;
    z-index: 2;
    display: none;
}

#dotsMenu li {
    display: block;
    float: none;
    background-color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgba(0,0,0,0.3);
}

#dotsMenu a {
    text-decoration: none;
    color: white;
    padding: 20px;
    margin: 0;
}

#dotsMenu li:hover {
    background-color: green;
}

nav ul li a:hover{
    background-color: green;
}

#homepage img {
    height: 50px;
}

#homepage a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 0px;
}

#homepage:hover {
    background-color: green;
}

#changePassword {
    float: right;
}

.heading {
    background-image: linear-gradient(to right, green, white);
    padding: 50px;
    margin-top: 80px;
    color: black;
}

.heading h1 {
    color: black;
    
}

#gradesTable {
    width: 100%;
}

#gradesTable td {
    border-left: none;
    border-right: none;
    text-align: center;
}

#gradesTable th {
    border-left: none;
    border-right: none;
}

main {
    margin-top: 100px;
    margin-bottom: 80px;
}

form{
    border-radius: 3px
}
fieldset{
    border-radius: 10px;
    position: relative;
}

fieldset legend{
    color: blue;
}
input{
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  background-color: whitesmoke;
  width: 50%;
  max-width: 20rem;   
}
select{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 10rem;
    background-color: whitesmoke;
    width: 100%;
    max-width: 20rem;  
}
#submitBtn{
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    background-color: royalblue;
    width: 35%;
    max-width: 10rem;  
}
p{
    color: #000;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
    h3{
        background:lightblue;
        color: red;
        padding: 10px;
    }
   hr{
       background-color: solid green;
       lighting-color: green;
}
/* ID selectors */
#header
{
    margin: 10px 5px 10px 5px;
    padding: 2em;
    background:orange;
}
#float_right{
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#footer
{
    padding: 2em;
    color: #fff;
    background: orange;
    text-align: center;
}

.errMessage{
    color: red;
    background: #fff;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 25px;
  }

  #homeLink{
      color: red;
      background-color:blue;
      padding: 10px;
  }

.matchingTable {
    padding: 20px;
}

#percentage {
    padding-bottom: 20px;
}

#totalScore {
    padding: 20px;
}

.paragraph {
    display: inline;
    width: 100px;
    padding: 10px;
}

.long {
    display: inline;
    width: auto;
    padding: 10px;
}

textarea {
    width: 500px;
    height: 100px;
}

#lessonstable {
    width: 100%;
    background-color: gainsboro;
}

#lessonstable td {
    border: none;
    padding: 20px 5px;
}

#lessonstable a:hover {
    background-color: lightgreen;
}

#lessonstable a {
    text-decoration: none;  
}

select {
    padding: 0;
}