@media only screen and (max-width: 749px) {
nav button{
    height: 56px;
    font-size: 30px;
    padding: 0px 10px;
    background-color: transparent;
}

#homepage {
    position: fixed;
    top: 0;
    left: 55px;
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 2px;
}

#welcome {
    display: none;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: orange;
    font-family: Verdana, sans-serif;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
    border-top: 1px solid rgba(0,0,0,0.3)
}

nav ul a {
    display: block;
    width: 100%;
    padding: 18px 17px;
    text-decoration: none;
    color: white;
}

}
