@media only screen and (max-width: 749px) {
nav button{
    height: 56px;
    font-size: 30px;
    padding: 0px 10px;
    background-color: transparent;
}

#homepage {
    display: none;
}

nav{
    background-color: orange;
    font-family: Verdana, sans-serif;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
    border-top: 1px solid rgba(0,0,0,0.3)
}

nav ul a {
    display: block;
    width: 100%;
    padding: 15px;
}

}
