body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    border-radius: 3px
}
fieldset{
    border-radius: 10px;
    position: relative;
}
fieldset legend{
    color: blue;
    border-radius: 4px;

}
form input{
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  background-color: whitesmoke;
  width: 10%;
  max-width: 20rem;  
}
form select{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 10rem;
    background-color: whitesmoke;
    width: 100%;
    max-width: 20rem;  
}
#sub{
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    background-color: royalblue;
    width: 10%;
    max-width: 20rem;  
}
p{
    color: #000;
}
    h3{
        background:lightblue;
        color: red;
        padding: 10px;
    }
    .navbar{
        align-self: auto;
        background-color: rgb(0, 255, 85);
        display: block;
        padding: 10px;
        float: left;
        text-align:left;
    }
   .active {border-bottom: 4px solid black);}

   hr{
       background-color: solid green;
       lighting-color: green;
}
/* ID selectors */
#header
{
    margin: 10px 5px 10px 5px;
    padding: 2em;
    color: #fff;
    background:orange;
}
#float_right{
    float: right;
    margin: 10px 5px 10px 5px;
}

#footer
{
    padding: 2em;
    color: #fff;
    background: orange;
    text-align: center;
}
i{
    float: right;
    background-color: blue;
    color:white;
}
h1{
    color:green;
}