<%
    var questions = ["excuse me", "You're welcome", "tell me", "third", "turn right", "across from", "give it a try", "street", "drugstore", "around here", "shop"];
    var dropdown = ["turn left", "pardon me", "directly in front of", "pharmacy", "store", "No problem", "in this area", "show me", "road", "do it", "3rd"];
%>
<h1>Quiz 9</h1>
<p>Select the answer that best matches each word and click the Submit button.</p>
<table>
<% for (let i = 0; i < questions.length; i++) { %>
<tr>
    <td><%=questions[i] %></td>
    <td>
    <select id="<%=i %>" class="long">
    <option></option>
    <% for (let j = 0; j < dropdown.length; j++) { %>
    <option value="<%=dropdown[j] %>"><%=dropdown[j] %></option>
    <% } %>
    </td>
</tr>
<% } %>
</table>
<button id="submitBtn" onclick="submitAnswers(10);">Submit</button>