<h1>Quiz 1</h1>
<div>Fill in the blanks and click the Submit button.</div>
<p>Hello. <input id="0" class="paragraph"> is your name?</p>
<p>Hi. My <input id="1" class="paragraph"> is Ana.</p>
<p>Could you spell that, please?</p>
<p>Ana, <input id="2" class="paragraph"> - N - <input id="3" class="paragraph"></p>
<p>Could you repeat that, please?</p>
<p><input id="4" class="paragraph"> - N - <input id="5" class="paragraph"></p> 
<button id="submitBtn" onclick="submitAnswers(1);">Submit</button>