<%
    var words = ["yellow", "green", "blue", "purple", "red", "orange", "brown", "white", "black", "pink", "gray"]
    var sortedWords = words.slice();
    sortedWords.sort();
%>
<h1>Quiz 12</h1>
<p>Select the words that match the pictures and click Submit.</p>
<hr>
<table>
<% for (let i = 0; i < words.length; i++) { %>
<tr>
    <td><img src='images/<%=words[i] %>.png'></td>
    <td>
    <select id='<%=i %>' class='paragraph'>
        <option><option>
        <% for (let i = 0; i < sortedWords.length; i++) { %>
        <option value='<%=sortedWords[i] %>'><%=sortedWords[i] %></option>
        <% } %>
    </select>
    </td>
</tr>
<% } %>

</table>
<button id="submitBtn" onclick="submitAnswers(12);">Submit</button>