<h1>Quiz 4</h1>

<p>
1.
<select id="0" class="paragraph">
    <option></option>
    <option value="God">God</option>
    <option value="Good">Good</option>
</select>
morning.
</p>

<p>
2. How
<select id="1" class="paragraph">
    <option></option>
    <option value="are">are</option>
    <option value="or">or</option>
</select>
you?
</p>

<p>
3. I'm
<select id="2" class="paragraph">
    <option></option>
    <option value="find">find</option>
    <option value="fine">fine</option>
</select>
, and
<select id="3" class="paragraph">
    <option></option>
    <option value="you">you</option>
    <option value="your">your</option>
</select>
?
</p>

<p>
4.
<select id="4" class="paragraph">
    <option></option>
    <option value="Grate">Grate</option>
    <option value="Great">Great</option>
</select>
!
<select id="5" class="paragraph">
    <option></option>
    <option value="This">This</option>
    <option value="These">These</option>
</select>
is my new friend.
</p>

<p>
5. I am pleased to
<select id="6" class="paragraph">
    <option></option>
    <option value="meet">meet</option>
    <option value="meat">meat</option>
</select>
you.
</p>

<p>
6. It is
<select id="7" class="paragraph">
    <option></option>
    <option value="niece">niece</option>
    <option value="nice">nice</option>
</select>
to meet
<select id="8" class="paragraph">
    <option></option>
    <option value="your">your</option>
    <option value="you">you</option>
</select>
, Sharon.
</p>
<button id="submitBtn" onclick="submitAnswers(4);">Submit</button>