<h1>Quiz 14</h1>
<p>After watching the video, answer the following questions and click the Submit button.</p>

<p>1. Character Description</p>
<p>List your favorite character in this film and describe him or her--good, bad, funny, serious, and so on. Also, list any other characters you would like to include.</p>
<textarea id="0"></textarea>

<p>2. Interactions</p>
<p>Describe interactions and relationships between characters in this film.</p>
<textarea id="1"></textarea>

<p>3. Conflicts, Conditions, Obstacles</p>
<p>Describe any brave or noble acts, difficulties, or settings of the characters in the film.</p>
<textarea id="2"></textarea>

<p>4. Most Interesting Part</p>
<p>Describe the most interesting part of this film for you and state why you liked it.</p>
<textarea id="3"></textarea>

<p>5. Expressions and Idioms and Their Meanings</p>
<p>List any expressions or idioms you found in this film. Write their meanings.</p>
<textarea id="4"></textarea>

<p>Your Personal Observations</p>
<p>a. Did you like this film? Why or why not?</p>
<textarea id="5"></textarea>
<p>b. What did you like most about this film?</p>
<textarea id="6"></textarea>
<p>c. How did this film make you feel?</p>
<textarea id="7"></textarea>
<p>d. What have you learned from this film?</p>
<textarea id="8"></textarea>
<p>e. Do you have any other comments on this film?</p>
<textarea id="9"></textarea>
<button id="submitBtn" onclick="submitAnswers(14);">Submit</button>