<%
    var questions = ["dry", "many", "cold", "degrees", "snow", "nice", "below", "around", "one hundred", "wind", "hot"];
    var dropdown = ["freezing", "wet", "points", "lots", "100", "heat", "pleasant", "about", "rain", "breeze", "under"];
%>
<h1>Quiz 9</h1>
<p>Select the answer that best matches each word and click the Submit button.</p>
<table>
<% for (let i = 0; i < questions.length; i++) { %>
<tr>
    <td><%=questions[i] %></td>
    <td>
    <select id="<%=i %>" class="long">
    <option></option>
    <% for (let j = 0; j < dropdown.length; j++) { %>
    <option value="<%=dropdown[j] %>"><%=dropdown[j] %></option>
    <% } %>
    </td>
</tr>
<% } %>
</table>
<button id="submitBtn" onclick="submitAnswers(9);">Submit</button>